


.dialog-barra-titulo {
  color: #f4f7fa;
  background: #5379f5;
  font-size: 15px !important;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 30px;
}

.dialog-controles-container .mat-mdc-form-field {
  width: 100%;
  padding: 2%;
  font-size: 12px;
  height: 15px;
  color-scheme:  #5379f5;
}

.dialog-botao-cancel {
  color: crimson;
  text-align: center !important;
  font-size: 12px !important;
  width: 90px !important;
  height: 36px !important;
}

.dialog-botao-ok {
  color:  #5379f5;
  text-align: center !important;
  font-size: 12px !important;
  width: 90px !important;
  height: 36px !important;
}

.dialog-rodape {
  color: #f4f7fa;
  background: #5379f5;
  font-size: 15px !important;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 20px;
}

::ng-deep .mat-mdc-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background .mat-checkbox {
  background-color:#5379f5 !important;
}

/*TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
/*TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
mat-checkbox {
	/*TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
	::ng-deep .mat-checkbox-inner-container  {
      width: 12px!important;
      height: 12px!important;
  	}
}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
::ng-deep .mat-form-field-label {
  color:#5379f5 !important;
}


.dialog-rodape {
  color: #f4f7fa;
  background: #5379f5;
  font-size: 15px !important;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 20px;
}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: blue !important;
 }

 /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: blue !important;
}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: blue !important;
}
