<div>
  <mat-toolbar class="dialog-barra-titulo" mat-dialog-title>{{titulo}}</mat-toolbar>
  <form [formGroup]="form">
    <mat-card-content>
      <div class="dialog-controles-container">

        <mat-form-field>
          <mat-label> Nome do Perfil</mat-label>
          <input matInput type="text" formControlName="perfilNome" [(ngModel)]="perfil.perfilNome"
            placeholder="Digite o Nome" required>
            <mat-error>O Nome é obrigatório.</mat-error>
        </mat-form-field>
        <br /><br />
        <mat-form-field>
          <mat-label> Descrição do Perfil</mat-label>
          <input matInput type="text" formControlName="perfilDescricao" [(ngModel)]="perfil.perfilDescricao"
            placeholder="Digite a Descrição"  required>
            <mat-error>Uma Descrição é obrigatório.</mat-error>
        </mat-form-field>
        <br /><br />

        <mat-form-field>
          <mat-label>Permissao</mat-label>
          <mat-select formControlName="permissaoCodigo" [(ngModel)]="permissao.idPermissao" matNativeControl required>
            <mat-option *ngFor="let permissao of permissaoLista" [value]="permissao.idPermissao">{{permissao.permissaoCodigo}}</mat-option>
          </mat-select>
          <mat-error>A Permissão é obrigatória.</mat-error>
        </mat-form-field>

      </div>
    </mat-card-content>
    <br />
    <mat-divider></mat-divider>

    <mat-dialog-actions>
      <span class="fill-remaining-space"></span>
      <button mat-stroked-button mat-dialog-close="refresh" class="dialog-botao-ok" update (click)="salvar()"
        [disabled]="form.invalid">
        <i class="fa fa-check" aria-hidden="true"></i> Salvar
      </button>
      <button mat-stroked-button mat-dialog-close class="dialog-botao-cancel">
        <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
      </button>
    </mat-dialog-actions>
  </form>
  <br />
  <div class="dialog-rodape"></div>
</div>
